@{
    ViewBag.Title = "Home";
    ViewBag.Active = "Home";
}

<main role="main">
    <div class="container">
        <div class="title-header">
            <h1>WHO WE ARE</h1>
            <br>
            <h5>
                Learn a living. In your field. Your community.
                Anywhere. We’ll help you get there. With more accredited programs, pioneering research projects and partnerships that offer semesters or placements abroad.
            </h5>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/images/gallery/Centennial.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Centennial College is best choice for your life</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/images/gallery/Logo.PNG" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Centennial College is best choice for your life</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/images/gallery/Centennial1.PNG" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Centennial College is best choice for your life</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


